{% extends 'home/pages/base.html' %}
{% load static %}
{% block content %}
<!-- ============================================================== -->
<!-- basic form  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">Editar Proyecto: {{ proyecto.nombre_proyecto }}</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'editar_proyecto_accion' proyecto.id %}" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre" class="col-form-label">Nombre</label>
                        <input id="nombre" name="nombre" type="text" class="form-control"
                            value="{{ proyecto.nombre_proyecto }}">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input id="descripcion" name="descripcion" type="text" class="form-control"
                            value="{{ proyecto.descripcion }}" maxlength="50">
                    </div>
                    <div class="form-group">
                        <ul class="list-unstyled arrow">
                            <h7>Participantes actuales</h7>
                            <br>
                            <h7>----ID----/----Nombre----/----Cargo----</h7>
                            </br>
                            {% for participantes in proyecto.participantes.all %}
                            <li> {{participantes.usuario.id}} / {{participantes.usuario.first_name}}
                                {{participantes.usuario.last_name}}
                                / {{participantes.tipo_cargo}} </li>
                            {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="participantes" class="col-form-label">Participantes (seleccione los participantes
                            que deseea agregar)</label>
                        <br>
                        <h7>----ID----/----Nombre----/----Cargo----</h7>
                        </br>
                        <select class="form-control" id="participantes" name="participantes" multiple>
                            {% for usuarios in usuarios.all %}
                            <option value="{{usuarios.usuario.id}}">
                                {{usuarios.usuario.id}} / {{usuarios.usuario.first_name}}
                                {{usuarios.usuario.last_name}} / {{usuarios.tipo_cargo}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo_proy" class="col-form-label">Línea</label>
                        <select class="form-control" id="tipo_proy" name="tipo_proy">
                            {% if proyecto.tipo_proy == 'GTI' %}
                            <option value="GTI" selected=''>GTI</option>
                            {% else %}
                            <option value="GTI">GTI</option>
                            {% endif %}
                            {% if proyecto.tipo_proy == 'SET' %}
                            <option value="SET" selected=''>SET</option>
                            {% else %}
                            <option value="SET">SET</option>
                            {% endif %}
                            {% if proyecto.tipo_proy == 'CLOUD' %}
                            <option value="CLOUD" selected=''>CLOUD</option>
                            {% else %}
                            <option value="CLOUD">CLOUD</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fecha_kick" class="col-form-label">Fecha KickOff: </label>
                        <input id="fecha_kick" name="fecha_kick" type="date" class="form-control"
                            value="{{proyecto.fecha_kick|date:'Y-m-d'}}">
                    </div>
                    <div class="form-group">
                        <label for="fecha_inicio class=" col-form-label">Fecha Inicio: </label>
                        <input id="fecha_inicio" name="fecha_inicio" type="date" class="form-control"
                            value="{{proyecto.fecha_inicio|date:'Y-m-d'}}">
                    </div>
                    <div class="form-group">
                        <label for="costo_mensual" class="col-form-label">Costo mensual</label>
                        <input id="costo_mensual" name="costo_mensual" type="number"
                            placeholder="{{proyecto.costo_mensual}}" class="form-control" value="{{proyecto.costo_mensual}}"">
                    </div>
                    <div class=" form-group">
                        <label for="margen" class="col-form-label">Margen</label>
                        <input id="margen" name="margen" type="number" placeholder="{{proyecto.margen}}"
                            value="{{proyecto.margen}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ans" class="col-form-label">Disponibilidad según ANS</label>
                        <select class="form-control" id="ans" name="ans">
                            {% if proyecto.ans == '95' %}
                            <option value="95" selected=''>95</option>
                            {% else %}
                            <option value="95">95</option>
                            {% endif %}
                            {% if proyecto.ans == '97' %}
                            <option value="97" selected=''>97</option>
                            {% else %}
                            <option value="97">97</option>
                            {% endif %}
                            {% if proyecto.ans == '99' %}
                            <option value="99" selected=''>99</option>
                            {% else %}
                            <option value="99">99</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="moneda" class="col-form-label">Moneda</label>
                        <select class="form-control" id="moneda" name="moneda">
                            {% if proyecto.moneda == 'COP' %}
                            <option value="COP" selected=''>COP</option>
                            {% else %}
                            <option value="COP">COP</option>
                            {% endif %}
                            {% if proyecto.moneda == 'USD' %}
                            <option value="USD" selected=''>USD</option>
                            {% else %}
                            <option value="USD">USD</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="trm" class="col-form-label">TRM</label>
                        <input id="trm" name="trm" type="number" placeholder="{{proyecto.trm}}" value="{{proyecto.trm}}"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="costo_implementacion" class="col-form-label">Costo de
                            implementación</label>
                        <input id="costo_implementacion" name="costo_implementacion" type="number"
                            placeholder="{{proyecto.costo_implementacion}}" value="{{proyecto.costo_implementacion}}"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="incremento" class="col-form-label">Incremento anual</label>
                        <select class="form-control" id="incremento" name="incremento">
                            {% if proyecto.incremento == 'IPC' %}
                            <option value="IPC" selected=''>IPC</option>
                            {% else %}
                            <option value="IPC">IPC</option>
                            {% endif %}
                            {% if proyecto.incremento == 'SMLV' %}
                            <option value="SMLV" selected=''>SMLV</option>
                            {% else %}
                            <option value="SMLV">SMLV</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="costo_imp_diferido" class="col-form-label">¿Costos de implementación
                            diferidos?</label>
                        <select class="form-control" id="costo_imp_diferido" name="costo_imp_diferido">
                            {% if proyecto.costo_imp_diferido == 'SI' %}
                            <option value="SI" selected=''>Si</option>
                            {% else %}
                            <option value="SI">Si</option>
                            {% endif %}
                            {% if proyecto.costo_imp_diferido == 'NO' %}
                            <option value="NO" selected=''>No</option>
                            {% else %}
                            <option value="NO">No</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="facturacion" class="col-form-label">Facturacion</label>
                        <select class="form-control" id="facturacion" name="facturacion">
                            {% if proyecto.facturacion == 'MES_VENCIDO' %}
                            <option value="MES_VENCIDO" selected=''>Mes vencido</option>
                            {% else %}
                            <option value="MES_VENCIDO">Mes vencido</option>
                            {% endif %}
                            {% if proyecto.facturacion == 'MES_CORRIENTE' %}
                            <option value="MES_CORRIENTE" selected=''>Mes corriente</option>
                            {% else %}
                            <option value="MES_CORRIENTE">Mes corriente</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="penal" class="col-form-label">Porcentaje de penalización sobre
                            factura
                            mensual</label>
                        <input id="penal" name="penal" type="number" placeholder="{{proyecto.penal}}"
                            value="{{proyecto.penal}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="duracion_total" class="col-form-label">Tiempo duración del
                            contrato</label>
                        <input id="duracion_total" name="duracion_total" value="{{proyecto.duracion_total}}"
                            type="number" placeholder="{{proyecto.duracion_total}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="duracion_implementacion" class="col-form-label">Tiempo de
                            implementación</label>
                        <input id="duracion_implementacion" name="duracion_implementacion" type="number"
                            placeholder="{{proyecto.duracion_implementacion}}" class="form-control"
                            value="{{proyecto.duracion_implementacion}}">
                    </div>
                    <div class="form-group">
                        <label for="cotizador" class="col-form-label">Cotizador:<a href="{{ proyecto.cotizador.url }}"
                                download>{{proyecto.cotizador.name}}</a></label>
                        <input id="cotizador" name="cotizador" type="file" class="form-control"
                            value="{{proyecto.cotizador}}">
                    </div>
                    <div class="form-group">
                        <label for="documento" class="col-form-label">Documento:<a href="{{ proyecto.documento.url }}"
                                download>{{proyecto.documento.name}}</a></label>
                        <input id="documento" name="documento" type="file" class="form-control"
                            value="{{proyecto.documento}}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" type="submit">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}