{% extends 'home/pages/base.html' %}
{% load static %}
{% block content %}
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"> Tareas de proyecto: {{ proyecto.nombre_proyecto }} </h2>
            <h4>Progreso: {{ progreso_tot|floatformat:2  }} %</h4>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="col-xl-20 col-lg-20 col-md-16 col-sm-16 col-20">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered first">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Encargado</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tareas in tareas.all %}
                        <tr>
                            <td width="30">
                                {{ tareas.id }}
                            </td>
                            <td width="100">
                                <a>
                                    {{ tareas.nombre_tarea }}
                                </a>
                            </td>
                            <td width="130">
                                <a>
                                    {{ tareas.descripcion_tarea }}
                                </a>
                            </td>
                            <td>
                                <a>
                                    {{ tareas.usuario }}
                                </a>
                            </td>
                            <td width="150">
                                {{ tareas.estado }}
                            </td>
                            <td>
                                <a href="{% url 'editar_tarea' tareas.id %}" class="btn btn-primary btn-xs"><i
                                        class="fas fa-edit"></i> Editar</a>
                                <a href="#Eliminar" data-toggle="modal" class="btn btn-danger btn-xs"
                                        ><i class="fas fa-trash"></i> Eliminar</a>
                            </td>
                             <!-- Modal -->
                             <div class="modal fade" id="Eliminar" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                             <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h5 class="modal-title" id="ModalEliminar">Eliminar Tarea</h5>
                                         <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </a>
                                     </div>
                                     <div class="modal-body">
                                         <p>¿Esta seguro que desea eliminar la tarea del proyecto?</p>
                                     </div>
                                     <div class="modal-footer">
                                         <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                         <a href="{% url 'eliminar_tarea' tareas.id %}"
                                             class="btn btn-primary">Aceptar</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                        </tr>
                        <h3></h3>
                        {% endfor %}
                    </tbody>
                </table>
                </form>
            </div>

            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">

            </div>
            {% endblock %}